{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

{%- capture sliderOptions -%}
   
			   "slidesPerView": 3,
               "spaceBetween": 0,
               "loop": false,
               "direction":"horizontal",
               "navigation":{
               "nextEl":"#ProductModal-{{ section.id }} .swiper-button-next",
               "prevEl":"#ProductModal-{{ section.id }} .swiper-button-prev"
               },
               "keyboard":{
               "enabled":true,
               "onlyInViewport":true
               },
                "pagination": {
                  "el": ".swiper-pagination",
                  "clickable": true
                },
               "effect":"slide",
               "speed":500,
               "breakpoints": { 
               "275": { "slidesPerView": 1, "spaceBetween": 0 },
               "575": { "slidesPerView": 1, "spaceBetween": 0 },
               "576": { "slidesPerView": 1, "spaceBetween": 0 },
               "1199": { "slidesPerView": 1,  "spaceBetween": 0 },
               "1200": { "slidesPerView": 1,  "spaceBetween": 0 }
               } 
 {%- endcapture -%}


<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal" data-slider-options='{ {{ sliderOptions }} }'>
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient swiper-main-wrapper"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>

    <div
      class="color-{{ section.settings.color_scheme }} gradient swiper swiper-product-media-model swiper-product-modal"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      <div class="swiper-wrapper">
        {% comment %}
      {%- liquid
        if product.selected_or_first_available_variant.featured_media != null
          assign media = product.selected_or_first_available_variant.featured_media
          render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
        endif
      -%}

      {%- for media in product.media -%}
        <div class="swiper-slide">
        {%- liquid
          if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
            assign variant_image = true
          else
            assign variant_image = false
          endif

          unless media.id == product.selected_or_first_available_variant.featured_media.id
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
          endunless
        -%}
        </div>
      {%- endfor -%}
      {% endcomment %}
            {%- for media in product.media -%}
              {%- liquid
                if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
                  assign variant_image = true
                else
                  assign variant_image = false
                endif
            -%}
                
                   <div class="swiper-slide" data-slide-index="{{ forloop.index0 }}" data-media-id = "{{ media.id }}">
                     {%- render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image -%}
                   </div>
               
              
            {%- endfor -%}
      </div>
      <div class="swiper-pagination dot"></div>
    </div>
    <div class="nav-btns swiper-arrow-box">
        <div class="swiper-arrow btn-arrow swiper-button-prev">{{ 'left-arrow.svg' | inline_asset_content }}</div>        
        <div class="swiper-arrow btn-arrow swiper-button-next">{{ 'right-arrow.svg' | inline_asset_content }}</div>
      </div>
  </div>
</product-modal>