{{ 'brands-sub-collections.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top | times: 0.75 | round }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round }}px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobi }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobi }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign sidebar_menu = section.settings.sidebar_menu
  assign sidebar_menu_2 = section.settings.sidebar_menu_2
-%}

<div class="section-{{ section.id }} section-{{ section.id }}-padding section-{{ section.id }}-margin color-{{ section.settings.color_scheme }} gradient section-main-box brands-sub-collections-main">
  <div class="page-width">
    {% if section.settings.heading != blank or section.settings.sec_text != blank %}
      <div class="sec-head text-align-{{ section.settings.text_align }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {% if section.settings.heading != blank %}
          <h2 class="sec-title">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.sec_text != blank %}
          <div class="sec-text">{{ section.settings.sec_text }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="brands-sub-collections-layout{% if sidebar_menu.links == blank and sidebar_menu_2.links == blank %} brands-sub-collections-layout--no-sidebar{% endif %}">
      {% if sidebar_menu.links != blank or sidebar_menu_2.links != blank %}
        <aside class="brands-sub-collections-sidebar" aria-label="{{ section.settings.sidebar_heading | default: 'Brands' | escape }}">

          {% if sidebar_menu.links != blank %}
            {% if section.settings.sidebar_heading != blank %}
              <h3 class="brands-sub-collections-sidebar__title">{{ section.settings.sidebar_heading }}</h3>
            {% endif %}

            <div class="brands-sub-collections-menu">
              {% for parent_link in sidebar_menu.links %}
                {%- liquid
                  assign parent_object = parent_link.object
                  assign parent_brand = parent_object.metafields.custom.brand.value
                  assign parent_image = parent_object.metafields.custom.sidebar_image.value
                  assign is_active_parent = parent_link.active

                  if parent_brand.first != blank
                    assign parent_brand = parent_brand.first
                  endif

                  if parent_image == blank
                    assign parent_image = parent_brand.brand_logo.value
                  endif

                  if parent_image == blank
                    assign parent_image = parent_brand.brand_logo
                  endif

                  if parent_image == blank
                    assign parent_image = parent_brand.logo.value
                  endif

                  if parent_image == blank
                    assign parent_image = parent_brand.logo
                  endif

                  if parent_image == blank
                    assign parent_image = parent_brand.image.value
                  endif

                  if parent_image == blank
                    assign parent_image = parent_brand.image
                  endif

                  if parent_image == blank
                    assign parent_image = parent_object.metafields.custom.logo.value
                  endif

                  if parent_image == blank
                    assign parent_image = parent_object.metafields.custom.image.value
                  endif

                  if parent_image == blank
                    assign parent_image = parent_object.featured_image
                  endif

                  if parent_image == blank
                    assign parent_image = parent_object.image
                  endif

                  if is_active_parent == false and parent_link.links != blank
                    for child_link in parent_link.links
                      if child_link.active
                        assign is_active_parent = true
                      endif
                    endfor
                  endif
                -%}

                <div class="brands-sub-collections-menu__item{% if is_active_parent %} is-active{% endif %}">
                  <a
                    href="{{ parent_link.url }}"
                    class="brands-sub-collections-menu__link{% if is_active_parent %} is-active{% endif %}"
                    {% if parent_link.links != blank %}
                      data-brands-sidebar-toggle
                      aria-expanded="{% if is_active_parent %}true{% else %}false{% endif %}"
                    {% endif %}
                  >
                    <span class="brands-sub-collections-menu__brand">
                      <span class="brands-sub-collections-menu__logo">
                        {% if parent_image != blank %}
                          {{ parent_image | image_url: width: 120 | image_tag: loading: 'lazy', class: 'brands-sub-collections-menu__logo-img', widths: '60, 90, 120', alt: parent_link.title }}
                        {% else %}
                          {{ parent_link.title }}
                        {% endif %}
                      </span>
                      <span class="brands-sub-collections-menu__name">{{ parent_link.title }}</span>
                    </span>
                    {% if parent_link.links != blank %}<span class="brands-sub-collections-menu__arrow" aria-hidden="true">{{ 'icon-caret.svg' | inline_asset_content }}</span>{% endif %}
                  </a>

                  {% if parent_link.links != blank %}
                    <div class="brands-sub-collections-submenu" data-brands-sidebar-submenu aria-hidden="{% if is_active_parent %}false{% else %}true{% endif %}">
                      {% for child_link in parent_link.links %}
                        {%- liquid
                          assign child_object = child_link.object
                          assign child_handle = child_link.title | handleize
                          assign child_image = blank

                          if child_handle == 'engine' or child_handle == 'engines'
                            assign child_image = parent_brand.engine.value.image.value
                          elsif child_handle == 'transmission' or child_handle == 'transmissions'
                            assign child_image = parent_brand.transmissions.value.image.value
                          elsif child_handle == 'accessory' or child_handle == 'accessories'
                            assign child_image = parent_brand.accessories.value.image.value
                          elsif child_handle == 'front-clip' or child_handle == 'front-clips'
                            assign child_image = parent_brand.front_clips.value.image.value
                          elsif child_handle == 'car' or child_handle == 'cars'
                            assign child_image = parent_brand.cars.value.image.value
                          endif

                          if child_image == blank
                            assign child_image = child_object.metafields.custom.sidebar_image.value
                          endif

                          if child_image == blank
                            assign child_image = child_object.metafields.custom.image.value
                          endif

                          if child_image == blank
                            assign child_image = child_object.featured_image
                          endif

                          if child_image == blank
                            assign child_image = child_object.image
                          endif
                        -%}

                        <a href="{{ child_link.url }}" class="brands-sub-collections-submenu__link{% if child_link.active %} is-active{% endif %}">
                          <span class="brands-sub-collections-submenu__image">
                            {% if child_image != blank %}
                              {{ child_image | image_url: width: 90 | image_tag: loading: 'lazy', class: 'brands-sub-collections-submenu__img', widths: '45, 60, 90', alt: child_link.title }}
                            {% endif %}
                          </span>
                          <span>{{ child_link.title }}</span>
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if sidebar_menu_2.links != blank %}
            {% if section.settings.sidebar_heading_2 != blank %}
              <h3 class="brands-sub-collections-sidebar__title brands-sub-collections-sidebar__title--menu2">{{ section.settings.sidebar_heading_2 }}</h3>
            {% endif %}

            <div class="brands-sub-collections-menu brands-sub-collections-menu--second">
              {% for parent_link in sidebar_menu_2.links %}
                {%- liquid
                  assign parent_object_2 = parent_link.object
                  assign parent_brand_2 = parent_object_2.metafields.custom.brand.value
                  assign parent_image_2 = parent_object_2.metafields.custom.sidebar_image.value
                  assign is_active_parent_2 = parent_link.active

                  if parent_brand_2.first != blank
                    assign parent_brand_2 = parent_brand_2.first
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_brand_2.brand_logo.value
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_brand_2.brand_logo
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_brand_2.logo.value
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_brand_2.logo
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_brand_2.image.value
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_brand_2.image
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_object_2.metafields.custom.logo.value
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_object_2.metafields.custom.image.value
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_object_2.featured_image
                  endif

                  if parent_image_2 == blank
                    assign parent_image_2 = parent_object_2.image
                  endif

                  if is_active_parent_2 == false and parent_link.links != blank
                    for child_link in parent_link.links
                      if child_link.active
                        assign is_active_parent_2 = true
                      endif
                    endfor
                  endif
                -%}

                <div class="brands-sub-collections-menu__item{% if is_active_parent_2 %} is-active{% endif %}">
                  <a
                    href="{{ parent_link.url }}"
                    class="brands-sub-collections-menu__link{% if is_active_parent_2 %} is-active{% endif %}"
                    {% if parent_link.links != blank %}
                      data-brands-sidebar-toggle
                      aria-expanded="{% if is_active_parent_2 %}true{% else %}false{% endif %}"
                    {% endif %}
                  >
                    <span class="brands-sub-collections-menu__brand">
                      <span class="brands-sub-collections-menu__logo">
                        {% if parent_image_2 != blank %}
                          {{ parent_image_2 | image_url: width: 120 | image_tag: loading: 'lazy', class: 'brands-sub-collections-menu__logo-img', widths: '60, 90, 120', alt: parent_link.title }}
                        {% else %}
                          {{ parent_link.title }}
                        {% endif %}
                      </span>
                      <span class="brands-sub-collections-menu__name">{{ parent_link.title }}</span>
                    </span>
                    {% if parent_link.links != blank %}<span class="brands-sub-collections-menu__arrow" aria-hidden="true">{{ 'icon-caret.svg' | inline_asset_content }}</span>{% endif %}
                  </a>

                  {% if parent_link.links != blank %}
                    <div class="brands-sub-collections-submenu" data-brands-sidebar-submenu aria-hidden="{% if is_active_parent_2 %}false{% else %}true{% endif %}">
                      {% for child_link in parent_link.links %}
                        {%- liquid
                          assign child_object_2 = child_link.object
                          assign child_handle_2 = child_link.title | handleize
                          assign child_image_2 = blank

                          if child_handle_2 == 'engine' or child_handle_2 == 'engines'
                            assign child_image_2 = parent_brand_2.engine.value.image.value
                          elsif child_handle_2 == 'transmission' or child_handle_2 == 'transmissions'
                            assign child_image_2 = parent_brand_2.transmissions.value.image.value
                          elsif child_handle_2 == 'accessory' or child_handle_2 == 'accessories'
                            assign child_image_2 = parent_brand_2.accessories.value.image.value
                          elsif child_handle_2 == 'front-clip' or child_handle_2 == 'front-clips'
                            assign child_image_2 = parent_brand_2.front_clips.value.image.value
                          elsif child_handle_2 == 'car' or child_handle_2 == 'cars'
                            assign child_image_2 = parent_brand_2.cars.value.image.value
                          endif

                          if child_image_2 == blank
                            assign child_image_2 = child_object_2.metafields.custom.sidebar_image.value
                          endif

                          if child_image_2 == blank
                            assign child_image_2 = child_object_2.metafields.custom.image.value
                          endif

                          if child_image_2 == blank
                            assign child_image_2 = child_object_2.featured_image
                          endif

                          if child_image_2 == blank
                            assign child_image_2 = child_object_2.image
                          endif
                        -%}

                        <a href="{{ child_link.url }}" class="brands-sub-collections-submenu__link{% if child_link.active %} is-active{% endif %}">
                          <span class="brands-sub-collections-submenu__image">
                            {% if child_image_2 != blank %}
                              {{ child_image_2 | image_url: width: 90 | image_tag: loading: 'lazy', class: 'brands-sub-collections-submenu__img', widths: '45, 60, 90', alt: child_link.title }}
                            {% endif %}
                          </span>
                          <span>{{ child_link.title }}</span>
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </aside>
      {% endif %}

      <div class="brands-sub-collections-content">
        <div
          class="brands-sub-collections-grid {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          style="--columns-desktop: {{ section.settings.columns_desktop }}; --columns-tablet: {{ section.settings.columns_tablet }}; --columns-mobile: {{ section.settings.columns_mobile }};"
        >
          {%- for block in section.blocks -%}
            {%- liquid
              assign collection = block.settings.collection
              assign brand_logo = block.settings.brand_logo
              assign has_logo = false
              assign logo_image = blank
              assign use_cover_class = false

              if brand_logo != blank
                assign logo_image = brand_logo
                assign has_logo = true
              elsif collection != blank and collection.featured_image != blank
                assign logo_image = collection.featured_image
                assign use_cover_class = true
              endif

              assign card_link = block.settings.custom_link
              if collection != blank
                assign card_link = collection.url
              endif

              assign card_title = block.settings.custom_title
              if card_title == blank and collection != blank
                assign card_title = collection.title
              endif

              assign available_count = block.settings.custom_count
              if collection != blank
                assign available_count = collection.all_products_count
              endif
            -%}

            <a
              {% if card_link != blank %}
                href="{{ card_link }}"
              {% else %}
                role="link" aria-disabled="true"
              {% endif %}
              class="brands-sub-collections-card"
              {{ block.shopify_attributes }}
            >
              <div class="brands-sub-collections-card__image-wrapper">
                {%- if logo_image != blank -%}
                  {%- assign img_alt = logo_image.alt | default: card_title | default: 'Brand Logo' | escape -%}
                  {%- assign image_class = 'brands-sub-collections-card__image' -%}
                  {%- if use_cover_class -%}
                    {%- assign image_class = image_class | append: ' brands-sub-collections-card__image--cover' -%}
                  {%- endif -%}
                  {{ logo_image | image_url: width: 400 | image_tag: class: image_class, loading: 'lazy', alt: img_alt, widths: '120, 200, 300, 400' }}
                {%- else -%}
                  {%- assign placeholder_index = forloop.index | modulo: 6 | plus: 1 -%}
                  {{
                    'collection-apparel-'
                    | append: placeholder_index
                    | placeholder_svg_tag: 'brands-sub-collections-card__placeholder'
                  }}
                {%- endif -%}
              </div>

              <div class="brands-sub-collections-card__info">
                {%- if has_logo == false and card_title != blank -%}
                  <span class="brands-sub-collections-card__title">{{ card_title }}</span>
                {%- endif -%}

                {%- if available_count != blank -%}
                  <span class="brands-sub-collections-card__count">
                    {{ available_count }}
                    {{ section.settings.available_label | escape }}
                  </span>
                {%- endif -%}
              </div>
            </a>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if (!window.brandsSubCollectionsSidebarAccordion) {
    window.brandsSubCollectionsSidebarAccordion = true;

    function getSubmenu(item) {
      return item && item.querySelector('[data-brands-sidebar-submenu]');
    }

    function setInitialSidebarState() {
      document.querySelectorAll('.brands-sub-collections-menu__item').forEach(function(item) {
        var submenu = getSubmenu(item);
        if (!submenu) return;

        if (item.classList.contains('is-active')) {
          submenu.style.height = 'auto';
          submenu.style.opacity = '1';
          submenu.setAttribute('aria-hidden', 'false');
        } else {
          submenu.style.height = '0px';
          submenu.style.opacity = '0';
          submenu.setAttribute('aria-hidden', 'true');
        }
      });
    }

    function openSidebarItem(item, toggle, submenu) {
      item.classList.add('is-active');
      toggle.classList.add('is-active');
      toggle.setAttribute('aria-expanded', 'true');
      submenu.setAttribute('aria-hidden', 'false');
      submenu.style.height = '0px';
      submenu.style.opacity = '0';

      requestAnimationFrame(function() {
        requestAnimationFrame(function() {
          submenu.style.height = submenu.scrollHeight + 'px';
          submenu.style.opacity = '1';
        });
      });

      submenu.addEventListener('transitionend', function onTransitionEnd(event) {
        if (event.propertyName !== 'height') return;
        submenu.style.height = 'auto';
        submenu.removeEventListener('transitionend', onTransitionEnd);
      });
    }

    function closeSidebarItem(item) {
      var toggle = item.querySelector('[data-brands-sidebar-toggle]');
      var submenu = getSubmenu(item);

      if (!submenu || !item.classList.contains('is-active')) return;

      item.classList.remove('is-active');

      if (toggle) {
        toggle.classList.remove('is-active');
        toggle.setAttribute('aria-expanded', 'false');
      }

      submenu.style.height = submenu.scrollHeight + 'px';
      submenu.style.opacity = '1';

      requestAnimationFrame(function() {
        submenu.style.height = '0px';
        submenu.style.opacity = '0';
        submenu.setAttribute('aria-hidden', 'true');
      });
    }

    document.addEventListener('click', function(event) {
      var toggle = event.target.closest('[data-brands-sidebar-toggle]');

      if (!toggle || event.metaKey || event.ctrlKey || event.shiftKey || event.button !== 0) {
        return;
      }

      var item = toggle.closest('.brands-sub-collections-menu__item');
      var menu = toggle.closest('.brands-sub-collections-menu');
      var submenu = getSubmenu(item);

      if (!item || !menu || !submenu) {
        return;
      }

      event.preventDefault();

      var shouldOpen = !item.classList.contains('is-active');
      var allItems = menu.querySelectorAll('.brands-sub-collections-menu__item');

      allItems.forEach(function(menuItem) {
        closeSidebarItem(menuItem);
      });

      if (shouldOpen) {
        openSidebarItem(item, toggle, submenu);
      }
    });

    setInitialSidebarState();
  }
</script>

{% schema %}
{
  "name": "Brands Sub-Collections",
  "tag": "section",
  "class": "brands-sub-collections-wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Shop by Brands"
    },
    {
      "type": "richtext",
      "id": "sec_text",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "inline_richtext",
      "id": "sidebar_heading",
      "label": "Sidebar heading",
      "default": "Brands"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu",
      "label": "Sidebar menu",
      "info": "Use parent menu items for brands and nested submenu items for linked collections. Images are pulled from linked collection images or custom collection metafields."
    },
    {
      "type": "inline_richtext",
      "id": "sidebar_heading_2",
      "label": "Sidebar heading 2"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu_2",
      "label": "Sidebar menu 2",
      "info": "Second menu displayed below the first in the sidebar. Same design and image logic applies."
    },
    {
      "type": "header",
      "content": "Grid Layout"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Columns on Desktop"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Columns on Tablet"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Columns on Mobile"
    },
    {
      "type": "text",
      "id": "available_label",
      "label": "Available products label suffix",
      "default": "Available"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Settings For Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobi",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 25
    },
    {
      "type": "range",
      "id": "padding_bottom_mobi",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 25
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "brand_logo",
          "label": "Brand Logo",
          "info": "Transparent background recommended. If empty, fallback is collection image."
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Brand Name Override",
          "info": "Optional. Falls back to collection title if left blank (only shown if no logo is selected)."
        },
        {
          "type": "url",
          "id": "custom_link",
          "label": "Custom Link Override",
          "info": "Optional. Falls back to collection URL if left blank."
        },
        {
          "type": "text",
          "id": "custom_count",
          "label": "Custom Product Count Override",
          "info": "Optional. Falls back to collection product count if left blank."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brands Sub-Collections",
      "blocks": [
        {
          "type": "brand"
        },
        {
          "type": "brand"
        },
        {
          "type": "brand"
        }
      ]
    }
  ]
}
{% endschema %}